{# ==================================
GENERIC REUSABLE CONTAINER PARTIAL.

Use this as an `embed` so you can pass in html for the `content` block.

Params:

* element (HTML element - default to <section>)
* attrs - (object) Extra attributes for the main wrapper
* variants (array or string): "squeeze" affects x-padding, "squash" affects y-padding

	- squash
	- superSquash
	- full-y

	- squeeze
	- superSqueeze
	- uberSqueeze
	- full-x

* classes (array or string) Extra classes for the main wrapper
* sectionBG: transparent|white|silver|brand|dark (string)

Examples:

{% embed '_partials/container.twig' with { element:'header' } %}
	{% block before %}Pre content here{% endblock %}
	{% block content %}
		<h1>{{ entry.title }}</h1>
	{% endblock %}
	{% block after %}Post content here{% endblock %}
{% endembed %}
===================================== #}

{% set element = element ?? 'section' %}
{% set attrs = attrs ?? null %}
{% set classes = classes ?? [] %}
{% set variants = variants ?? [] %}
{# if we were passed a string, let's convert it to an array (so we can reliably merge() later) #}
{% set classes = classes is iterable ? classes : [classes] %}
{% set variants = variants is iterable ? variants : [variants] %}

{# set block background colours here. If you add/modify these, be sure to edit the
consecutive section collapser functionality at the top of project.scss. #}
{% if block is defined and block['sectionBG'] is defined or sectionBG is defined %}
	{% set sectionBG = sectionBG ?? block.sectionBG %}
	{% switch sectionBG %}
		{% case 'transparent' %}
			{% set classes = classes|merge(['bg-transparent']) %}
		{% case 'white' %}
			{% set classes = classes|merge(['bg-white']) %}
		{% case 'silver' %}
			{% set classes = classes|merge(['bg-gray-100']) %}
		{% case 'brand' %}
			{% set classes = classes|merge(['bg-brand text-dark']) %}
		{% case 'dark' %}
			{% set classes = classes|merge(['bg-dark text-white']) %}
		{% default %}
			{% set classes = classes|merge(['bg-white']) %}
	{% endswitch %}
{% else %}
	{# we're defaulting to bg-white so that we can reliably collapse v-padding
	between consecutive sections of the same colour. (i.e. with .bg-white + .bg-white.
	So be sure to include the bg-white class even if it seems redundant #}
	{% set classes = classes|merge(['bg-white']) %}
{% endif %}

{# Vertical padding variants #}
{% if 'full-y' not in variants %}
	{% if 'superSquash' in variants %}
		{% set classes = classes|merge(['fl:py-8']) %}
	{% elseif 'squash' in variants %}
		{% set classes = classes|merge(['fl:py-12']) %}
	{% else %}
		{% set classes = classes|merge(['fl:py-16']) %}
	{% endif %}
{% endif %}

{# Horizontal padding variants #}
{% if 'uberSqueeze' in variants %}
	{% set squeezeClass = 'max-w-3xl' %}
{% elseif 'superSqueeze' in variants %}
	{% set squeezeClass = 'max-w-4xl' %}
{% elseif 'squeeze' in variants %}
	{% set squeezeClass = 'max-w-screen-lg' %}
{% elseif 'full-x' in variants %}
	{% set squeezeClass = 'max-w-screen-2xl' %}
{% else %}
	{% set squeezeClass = 'max-w-screen-xl' %}
{% endif %}

{# ======================================================================= #}

<{{ element }} class="relative {{ classes|join(' ') }}" {{ attrs ? attr(attrs) }}>
	{{ block('before') ?? null }}
	<div class="{{ squeezeClass }} mx-auto px-4 sm:px-6 lg:px-8">
		{{ block('content') ?? null }}
	</div>
	{{ block('after') ?? null }}
</{{ element }}>