{# ==================================
CARD.

Usage options:

A. If you're happy with all the defaults, then typically you can just use
the flexGrid.twig partial as an include, passing in the items e.g.

{% include '_partials/flexGrid.twig' with { items: block.entries.all() } %}

-----

B. If you want to have grid of multiple cards using flexGrid.twig, but with
the power to customise all the parameters in this partial, do something like this:

{% embed '_partials/flexGrid.twig' with {
	items: entry.cards,
	itemSize: 'w-full sm:w-1/2'
} %}
	{% block itemContent %}
		{% include '_partials/featureCard.twig' with {
			variants: ['leftAligned', 'lockAspectRatio'],
			url: item.cardLink
		} %}
	{% endblock %}
{% endembed %}

-----

C. If you just want to reuse the outer card style but completely go to town on
customising the card innards, then use this partial as an embed and override the
`cardContent` block. E.g.

{% embed '_partials/featureCard.twig' %}
	{% block cardContent %}
		Go to town here
	{% endblock %}
{% endembed %}

(and of course, you could embed that inside flexGrid's itemContent block if necessary). Like this:

{% embed '_partials/flexGrid.twig' with {
	items: entry.cards,
	itemSize: 'w-full sm:w-1/2'
} %}
	{% block itemContent %}
		{% embed '_partials/featureCard.twig' %}
			{% block cardContent %}
				Go to town here
			{% endblock %}
		{% endembed %}
	{% endblock %}
{% endembed %}

-----

D. You can also choose to only override the card header/body/footer separately like this:

{% embed '_partials/featureCard.twig' with { img: item.personPhotoLandscape[0] ?? null, url: item.url } %}
	{% block cardBody %}
		{% include '_partials/someSpecialCardBody.twig' %}
	{% endblock %}
	{% block cardFooter %}
		<p>Special footer</p>
	{% endblock %}
{% endembed %}

---------------------------------------

Params:

- item
- img
- imgIsIcon (bool)
- url
- desc
- cardButtonLabel
- extraCardClasses
- headingOverride
- variants
	- jumbo
	- letterbox

===================================== #}

{% set img = img is defined and img ? img : item.featuredImg[0] is defined ? item.featuredImg[0] %}
{% set imgIsIcon = imgIsIcon ?? false %}
{% set useFallbackImg = useFallbackImg ?? false %}
{% set disableHeading = disableHeading ?? false %}
{% set url = url ?? item.url() %}
{% set desc = desc ?? item.summary ?? null %}
{% set variants = variants ?? [] %}
{# if variants was a string, convert to an array so we can use 'in' on it more reliably... #}
{% set variants = variants is iterable ? variants : [variants] %}

{% set _headingStyles = 'jumbo' in variants ? 'fl:text-3xl' : 'fl:text-lg' %}
{% set _paraStyles = 'jumbo' in variants ? 'fl:text-lg-alt mt-4' : 'mt-4' %}
{% set cardPadding = 'jumbo' in variants ? 'p-8 md:p-12 lg:p-16' : 'p-8' %}
{% set cardPadding2 = 'jumbo' in variants ? 'px-8 pb-8 md:px-12 md:pb-12 lg:px-16 lg:pb-16' : 'px-8 pb-8' %}

{# ======================================================================= #}

<div class="group block rounded-lg overflow-hidden shadow-lg w-full h-full transition transform hover:-translate-y-1 any-pointer-coarse:!transform-none hover:shadow-xl focus:outline-none focus-visible:ring ring-accent {{ extraCardClasses ?? null }}" style="will-change:transform" {{ cardAttrs is defined ? attr(cardAttrs) }}>
	<article class="flex flex-col bg-white shadow-sm min-w-xs w-full h-full" style="will-change:transform">

		{% block cardContent %}

			{# ==================================
			CARD HEADER
			===================================== #}

			{% block cardHeader %}
				{% if img is defined and img %}
					{% if imgIsIcon %}
						{% include '_partials/picture.twig' with {
							image: img,
							transforms: craft.app.config.custom.globalTransforms.cardTransforms,
							sizes: '(min-width: 1360px) 389px, (min-width: 1040px) calc(26.67vw + 32px), (min-width: 860px) calc(50vw - 36px), calc(97.04vw - 23px)',
							useFocalPoint: false,
							extraImgClasses: 'px-8 pt-8 object-contain',
							extraPictureClasses: 'letterbox' in variants ? 'aspect-letterbox relative' : 'aspect-16-9 relative'
						} only %}
					{% else %}
						{% include '_partials/picture.twig' with {
							image: img,
							transforms: craft.app.config.custom.globalTransforms.cardTransforms,
							sizes: '(min-width: 1360px) 389px, (min-width: 1040px) calc(26.67vw + 32px), (min-width: 860px) calc(50vw - 36px), calc(97.04vw - 23px)',
							useFocalPoint:true,
							extraImgClasses: 'object-cover h-full w-full',
							extraPictureClasses: 'letterbox' in variants ? 'aspect-letterbox relative' : 'aspect-16-9 relative'
						} only %}
					{% endif %}
				{% endif %}
			{% endblock %}

			{# ==================================
			CARD BODY
			===================================== #}

			<div class="flex flex-col flex-grow mt-auto {{ cardPadding }} line-height-compensation">
				{% block cardBody %}
					<h3 class="{{ _headingStyles }} font-display text-accent js-cardHeading leading-tight flex items-center">
						{% if url %}
							<a class="text-accent {{ css.breakoutLink }}" href="{{ url }}">
								{{ headingOverride is defined ? headingOverride|raw : item.title }}
							</a>
						{% else %}
							{{ headingOverride is defined ? headingOverride|raw : item.title }}
						{% endif %}
					</h3>
					{% if desc %}
						<p class="{{ _paraStyles }} text-body">{{ desc }}</p>
					{% endif %}
				{% endblock %}
			</div>

			{# ==================================
			CARD FOOTER
			===================================== #}

			{% block cardFooter %}
				{% if cardButtonLabel is defined and cardButtonLabel %}
					<div class="mt-auto flex {{ cardPadding2 }}">
						{% include '_partials/button.twig' with {
							element: 'span',
							label: cardButtonLabel,
							classes:'group-hover:bg-accent-highlight'
						} only %}
					</div>
				{% endif %}
			{% endblock %}

			{% if extras is defined and extras %}
				<div class="{{ cardPadding2 }} text-body text-xs">{{ extras|md }}</div>
			{% endif %}
		{% endblock %}
	</article>
</div>