{% set globalTransforms = {
	ogImg: [{ mode:'crop', width:1200, height:1200 }],
	fullWidth: [
		{width:400},
		{width:800},
		{width:1200},
		{width:1600},
		{width:1920},
		{width:2400}
	]
} %}

{# Duplicate the globalTransforms array into a version that also includes the webp
transforms so that we can eager load all transforms more easily, e.g.:

{% set eagerLoadingExample = craft.entries.with([
	['heroImg', {withTransforms:transformsToEagerLoad.fullWidth}]
]).all() %}
#}

{% set transformsToEagerLoad = [] %}
{% set transformsToEagerLoad = globalTransforms|map( transformArray =>
	transformArray|map( transform =>
		transform|merge({format:'webp'})
	)
) %}
{% set transformsToEagerLoadCollection = collect(transformsToEagerLoad) %}
{% set globalTransformsCollection = collect(globalTransforms) %}
{% set transformsToEagerLoad = transformsToEagerLoadCollection.mergeRecursive(globalTransformsCollection) %}

{# =============================================================================== #}

{% set css = {
	navLink: 'uppercase group inline-flex items-center text-center font-semibold tracking-widest lg:leading-6 hover:text-gray-900 focus:text-gray-900 transition ease-in-out duration-150 focus:outline-none',
	navLinkOnLight: 'block uppercase text-base font-semibold tracking-widest leading-6',
} %}

{# =============================================================================== #}

{% minify %}
<!doctype html>
<html prefix="og: https://ogp.me/ns#" class="no-js antialiased font-sans text-body" lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
	<meta charset="utf-8">
	<title>{{ title is defined ? title ~ ' | ' ~ siteName : siteName }}</title>
	<meta name="description" content="{{ metaDesc is defined ? metaDesc|striptags : null }}">
	<link rel="stylesheet" href="{{ siteUrl|trim('/', 'right') }}{{ mix('css/main.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if noIndex is defined and noIndex == 1 or craft.app.config.env != 'live' %}<meta name="robots" content="noindex, nofollow">{% endif %}

	{# ======================================
	SOCIAL META. Use OG fallbacks to minimise complexity here.

	NB: null coalescence operator doesn't seem to work as expected
	here, so swapping out for nested ternaries :-/ I think that's
	because Craft treats empty variables as non-null.

	Don't be tempted to directly inject OG content here (i.e.
	{{ entry.ogTitle }} - instead, keep the definition of that
	data in each child template.

	This approach has several advantages:
	1) You can set cascading fallbacks per content type with a final fallback here.
	2) This layout template becomes more reusable as it's not reliant on the existence of an 'entry'.
	3) You can pass hardcoded content easily - no need to create singles for everything

	Here's a sample child section for setting all available meta (exact implementation should vary depending on the available fallback fields so that authors don't have to enter explicit OG data every time):

	{% set title = entry.titleTag ? entry.titleTag : entry.title %}
	{% set metaDesc = entry.metaDesc ? entry.metaDesc : entry.summary ? entry.summary : null %}
	{% set noIndex = entry.noIndex ?? null %}

	{% set ogTitle = entry.ogTitle ?? null %}
	{% set ogDesc =  entry.ogDesc ?? null %}
	{% set ogImg = entry.ogImage.one() ?? entry.productImage.one() ?? null %}
	{% set ogType = entry.ogType ?? null %}
	{% set twitterCreator = entry.twitterCreator ?? null %}
	{% set twitterCard = entry.twitterCard ?? null %}
	========================================= #}

	{% set ogTitle = ogTitle is defined and ogTitle ? ogTitle : title is defined and title ? title : siteName %}
	{% set ogDesc = ogDesc is defined and ogDesc ? ogDesc : metaDesc is defined and metaDesc ? metaDesc : null %}

	{#
	We prefer to use site-root relative URIs for our asset base URLs, which means
	we'll need to manually append the siteUrl onto externally referenced images such
	as the OG image. Craft forces siteUrl to use a trailing slash, so we'll need to
	trim it here to avoid a double-slash.
	Also specify OG width and height for better rendering perf:
	https://developers.facebook.com/docs/sharing/best-practices
	 #}
	{% if ogImg is defined and ogImg %}
		{% set ogImg = siteUrl|trim('/', 'right') ~ ogImg.url(globalTransforms.ogImg[0]) %}
		{% set ogWidth = ogImg.width() %}
		{% set ogHeight = ogImg.height() %}
	{% else %}
		{% set ogImg = siteUrl ~ 'assets/img/logo-og.png' %}
		{% set ogWidth = 1200 %}
		{% set ogHeight = 1200 %}
	{% endif %}

	{% set ogWidth = value %}

	<meta name="twitter:card" content="{{ twitterCard ?? 'summary' }}">
	{% if socialLinks.twitterHandle %}<meta name="twitter:site" content="@{{ socialLinks.twitterHandle }}">{% endif %}
	{% if twitterCreator is defined and twitterCreator %}<meta name="twitter:creator" content="{{ twitterCreator }}">{% endif %}
	<meta property="og:title" content="{{ ogTitle }}">
	<meta property="og:type" content="{{ ogType ?? 'website' }}">
	<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">

	<meta property="og:image" content="{{ ogImg }}">
	<meta property="og:image:height" content="{{ ogHeight }}">
	<meta property="og:image:width" content="{{ ogWidth }}">
	{% if ogDesc %}<meta property="og:description" content="{{ ogDesc|striptags }}">{% endif %}
	<meta property="og:site_name" content="{{ siteName }}">

	{% if socialLinks.fbAdmins|length %}
		{% for fbAdmin in socialLinks.fbAdmins %}
			<meta property="fb:admins" content="{{ fbAdmin.fbAccountNo }}">
		{% endfor %}
	{% endif %}

	{% if not craft.app.request.isPreview and craft.app.config.env == 'live' %}
		{{ scripts.headScripts|raw }}
	{% endif %}

	{{ head() }}
</head>

<body class="m-0 {{ bodyClass ?? null }}">

	<div class="js-edit-this" data-thing="{{ entry.id ?? category.id ?? null }}"></div>

	{{ beginBody() }}

	{% if not craft.app.request.isPreview and craft.app.config.env == 'live' %}
		{{ scripts.bodyStartScripts|raw }}
	{% endif %}

	<div class="flex flex-col min-h-screen">

		{# =============================================================================== #}

		{% embed '_partials/container.twig' with {
			variants: 'squash',
			element:'header',
			sectionBG: 'silver',
			classes: ['relative', 'z-20']
		} %}
			{% block content %}
				<nav class="flex justify-between items-center">
					<a class="flex" href="/"><img alt="" style="height:50px" src="/assets/img/no-image.svg"></a>

					<ul class="hidden md:flex space-x-8 ml-8">
						<li><a href="#" class="{{ css.navLink }}">Link</a></li>
						<li><a href="#" class="{{ css.navLink }}">Another</a></li>
					</ul>
				</nav>
			{% endblock %}
		{% endembed %}

		{# ==================================
		MOBILE NAV
		===================================== #}

		<nav class="md:hidden flex flex-col bg-brand">

			{% set naviconLineClasses = 'absolute block bg-accent transform' %}

			<button style="top:22px;height:60px;width:60px"
			        title="Menu"
			        class="mobile-nav-button flex items-center bg-white z-40 fixed right-0 mr-4 focus:outline-none js-toggle js-toggleScrollLock"
			        aria-controls="js-mobileNav"
			        data-active-target-id="js-mobileNav"
			        data-active-target="is-active"
			        data-active="is-active"
			        aria-expanded="false"
			>
				<span class="{{ naviconLineClasses }}"></span>
				<span class="{{ naviconLineClasses }}"></span>
				<span class="{{ naviconLineClasses }}"></span>
			</button>

			<div id="js-mobileNav" class="mobile-nav bg-gray-100 transition transform translate-x-full duration-320 ease-out fixed z-30 inset-0 overflow-y-auto" aria-hidden="true">

				<div class="p-8">
					<ul class="space-y-4">
						<li><a href="/" class="{{ css.navLinkOnLight }}">Home</a></li>
						<li><a href="/about-us" class="{{ css.navLinkOnLight }}">Link</a></li>
						<li><span class="{{ css.navLinkOnLight }}">Another</span>
							<ul class="pl-8 space-y-2 my-4">
								<li><a class="{{ css.navLinkOnLight }}" href="#">A nested item</a></li>
							</ul>
						</li>
					</ul>
					<ul class="flex text-center w-full mx-auto flex-wrap justify-center mt-8 space-x-4">
						{% if socialLinks.facebook %}
							<li>
								<a target="_blank" title="Facebook" href="{{ socialLinks.facebook }}">
									{{ svg('@webroot/assets/img/facebook.svg') }}
								</a>
							</li>
						{% endif %}
						{% if socialLinks.twitterHandle %}
							<li>
								<a target="_blank" title="Twitter" href="https://twitter.com/{{ socialLinks.twitterHandle }}">
									{{ svg('@webroot/assets/img/twitter.svg') }}
								</a>
							</li>
						{% endif %}
						{% if socialLinks.linkedIn %}
							<li>
								<a target="_blank" title="LinkedIn" href="{{ socialLinks.linkedIn }}">
									{{ svg('@webroot/assets/img/linked-in.svg') }}
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		{# =============================================================================== #}

		<main>
			{{ block('content') }}
		</main>

		{# =============================================================================== #}

		{% embed '_partials/container.twig' with {
			compact: true,
			element:'footer',
			sectionBG: 'silver',
			classes: ['mt-auto', 'relative'],
		} %}
			{% block content %}
				<p>&copy; {{ siteName }} {{ 'now'|date('Y') }}</p>
			{% endblock %}
		{% endembed %}

	</div>

	{# =============================================================================== #}

	<script src="{{ siteUrl|trim('/', 'right') }}{{ mix('js/main.js') }}"></script>

	{% if not craft.app.request.isPreview and craft.app.config.env == 'live' %}
		{{ scripts.bodyEndScripts|raw }}
	{% endif %}

	{{ endBody() }}

</body>
</html>
{% endminify %}